<!DOCTYPE html>
<html lang="pl-PL" xmlns:th="http://www.thymeleaf.org" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../static/styles.scss">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <title>Dodaj Plan Lekcji</title>
</head>
<body class="bg-dark text-white">
<header class="container-fluid bg-primary py-3">
    <div class="container d-flex justify-content-between align-items-center">
        <h2 class="text-white">FreeEdu - Panel użytkownika</h2>
        <button onclick="location.href='/view/login'" class="btn btn-danger">Wyloguj się</button>
    </div>
</header>

<main class="container my-5">
    <div class="row">
        <nav class="col-md-3">
            <ul class="list-group">
                <li class="list-group-item bg-dark text-white"><a href="/view/admin/schedule" class="text-decoration-none text-white">Plan lekcji</a></li>
                <li class="list-group-item bg-dark text-white"><a href="/view/admin/grade" class="text-decoration-none text-white">Oceny</a></li>
                <li class="list-group-item bg-dark text-white"><a href="/view/admin/schoolClass" class="text-decoration-none text-white">Klasy i uczniowie</a></li>
                <li class="list-group-item bg-dark text-white"><a href="/view/admin/attendance" class="text-decoration-none text-white">Frekwencja na zajęciach</a></li>
                <li class="list-group-item bg-dark text-white"><a href="/view/admin/remark" class="text-decoration-none text-white">System Uwaga</a></li>
                <li class="list-group-item bg-dark text-white"><a href="/view/admin/user_management" class="text-decoration-none text-white">Zarządzanie użytkownikami</a></li>
            </ul>
        </nav>

        <section class="col-md-9">
            <div class="card bg-light text-dark p-4">
                <form th:action="@{'/view/admin/schedule/add/confirm'}" th:object="${schedule}" method="post">
                    <div class="mb-3">
                        <label for="date" class="form-label">Data</label>
                        <input type="date" class="form-control" id="date" th:field="*{date}">
                    </div>
                    <div class="mb-3">
                        <label for="subject" class="form-label">Przedmiot</label>
                        <select class="form-control" id="subject" th:field="*{subjectName}">
                            <option th:each="subject : ${subjects}" th:value="${subject.name()}" th:text="${subject.displayName}"></option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="teacher" class="form-label">Nauczyciel</label>
                        <select class="form-control" id="teacher" th:field="*{teacherId}">
                            <option th:each="teacher : ${teachers}" th:value="${teacher.userId}" th:text="${teacher.firstname} + ' ' + ${teacher.lastname}"></option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="className" class="form-label">Klasa</label>
                        <select class="form-control" id="className" th:field="*{className}">
                            <option th:each="class : ${schoolClasses}" th:value="${class.schoolClassId}" th:text="${class.name}"></option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Dodaj</button>
                    <a href="/view/admin/schedule" class="btn btn-secondary">Wróć</a>
                </form>
            </div>
        </section>
    </div>
</main>

<footer class="bg-primary text-white text-center py-3">
    <p class="mb-0">&copy; 2025 FreeEdu. Wszelkie prawa zastrzeżone.</p>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
