<!DOCTYPE html>
<html lang="pl-PL" xmlns:th="http://www.thymeleaf.org" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../static/styles.scss">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <title>Panel użytkownika</title>
</head>
<body class="bg-dark text-white">
<!-- Navbar -->
<header class="container-fluid bg-primary py-3">
    <div class="container d-flex justify-content-between align-items-center">
        <h2 class="text-white">FreeEdu-Panel użytkownika</h2>

        <button onclick="location.href='/view/login'" class="btn btn-danger">Wyloguj się</button>
    </div>
</header>

<!-- Main Content Section -->
<main class="container my-5">
    <div class="row">
        <!-- Sidebar with links -->
        <nav class="col-md-3">
            <ul class="list-group">
                <li class="list-group-item bg-dark text-white"><a href="/view/admin/schedule" class="text-decoration-none text-white">Plan lekcji</a></li>
                <li class="list-group-item bg-dark text-white"><a href="/view/admin/grade" class="text-decoration-none text-white">Oceny</a></li>
                <li class="list-group-item bg-dark text-white"><a href="/view/admin/SchoolClass" class="text-decoration-none text-white">Klasy i uczniowe</a></li>
                <li class="list-group-item bg-dark text-white"><a href="/view/admin/Attendance" class="text-decoration-none text-white">Frekwencja na zajeciach</a></li>
                <li class="list-group-item bg-dark text-white"><a href="/view/admin/remark" class="text-decoration-none text-white">System Uwaga</a></li>
                <li class="list-group-item bg-dark text-white"><a href="/view/admin/user_management" class="text-decoration-none text-white">Zarządzanie użytkownikami</a></li>
            </ul>
        </nav>

        <!-- Content -->
        <section class="col-md-9">
            <div class="card bg-light text-dark p-4">
                <h3>Edycja użytkownika</h3>
                <p class="lead">Możesz edytować dane użytkownika</p>
                <hr>
                <form th:action="@{'/view/admin/user_management/edit/' + ${user.userId} + '/confirm'}" th:object="${user}" method="post">
                    <div class="mb-3">
                        <label for="firstname" class="form-label">Imie</label>
                        <input type="text" class="form-control" id="firstname" th:field="*{firstname}">
                    </div>
                    <div class="mb-3">
                        <label for="lastname" class="form-label">Nazwisko</label>
                        <input type="text" class="form-control" id="lastname" th:field="*{lastname}">
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">E-mail</label>
                        <input type="email" class="form-control" id="email" th:field="*{email}">
                    </div>
                    <div class="mb-3">
                        <label for="user_role" class="form-label">Rola</label>
                        <select class="form-control" id="user_role" th:field="*{user_role}">
                            <option value="ADMIN">Admin</option>
                            <option value="STUDENT">Student</option>
                            <option value="TEACHER">Teacher</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Zatwierdź</button>
                    <a href="/view/admin/user_management" class="btn btn-secondary">Wróć</a>
                </form>
            </div>
        </section>
    </div>
</main>

<!-- Footer -->
<footer class="bg-primary text-white text-center py-3">
    <p class="mb-0">&copy; 2025 FreeEdu. Wszelkie prawa zastrzeżone.</p>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>







