<!DOCTYPE html>
<html lang="pl-PL" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Frekwencja</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
</head>
<body class="bg-dark text-white">
<main class="container my-5">
  <h2 class="text-center">Frekwencja</h2>
  <table class="table table-striped table-dark">
    <thead>
    <tr>
      <th>Uczeń</th>
      <th>Data</th>
      <th>Status</th>
      <th>Akcje</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="attendance : ${attendances}">
      <td th:text="${attendance.student.name}">Jan Kowalski</td>
      <td th:text="${#dates.format(attendance.date, 'dd-MM-yyyy')}">01-01-2025</td>
      <td th:text="${attendance.status ? 'Obecny' : 'Nieobecny'}">Obecny</td>
      <td>
        <button class="btn btn-warning btn-sm" th:onclick="'/view/editAttendance/' + ${attendance.id}">Zmień status</button>
      </td>
    </tr>
    </tbody>
  </table>
</main>
</body>
</html>
