<!DOCTYPE html>
<html lang="pl-PL" xmlns:th="http://www.thymeleaf.org" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/styles.scss">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Logowanie</title>
</head>
<body class="p-3 m-0 border-0 bd-example m-0 border-0">
<div class="container text-bg-success p-3 " data-bs-theme="dark">
    <div class="row justify-content-center">
        <div class="card col-md-6">
            <h2 class="card-title text-center">Logowanie do FreeEdu</h2>
            <form class= card-body th:action="@{/authorize}" method="post">
                <div class="form-group">
                    <label hidden for="username">Email/Username:</label>
                    <input type="text" id="username" name="username" class="form-control" placeholder="Adres e-mail lub nazwa użytkownika" required>
                </div>
                <div class="form-group">
                    <label hidden for="password">Password:</label>
                    <input type="password" id="password" name="password" class="form-control" placeholder="Hasło" required>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Zaloguj się</button>
                <button type="button" onclick="window.location.href='/view/register'" class="btn btn-secondary btn-block">Utwórz konto</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>
